version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: redis-server
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server
      --appendonly yes
      --requirepass Atamai@123
      --bind 0.0.0.0
      --protected-mode no

  redis-ui:
    image: rediscommander/redis-commander:latest
    container_name: redis-ui
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379:0:Atamai@123
    depends_on:
      - redis

volumes:
  redis_data:
